<div class="graph-form" [formGroup]="graphForm">
  <mat-form-field appearance="fill">
    <mat-label>Trial Count</mat-label>
    <input matInput formControlName="count">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Db</mat-label>
    <mat-select formControlName="db">
      <mat-option *ngFor="let db of dbSelectData" [value]="db.key">{{db.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Query type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of queryType" [value]="type.key">{{type.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Operations Count</mat-label>
    <input matInput formControlName="level">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onAddCLick()">Add</button>
</div>